/* Portfolio */

.portfolio {
  padding-top: $gap-94;
  padding-bottom: $gap-94;

  &-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: transparent;
    margin-bottom: $gap-50;

    &__item {

      &:not(:last-child) {
      margin-right: 8px;
      }

    }

    &__button {
      color: $title-color;
      background-color: #f5f4fa;
    
      font-family: inherit;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.6;
      text-align: center;
    
      transition: color $transition-duration $transition-timing,
      background-color $transition-duration $transition-timing,
      box-shadow $transition-duration $transition-timing;
    
      padding: 6px 22px;
      border-color: transparent;
      border-radius: 4px;
      
      &:hover, &:focus {
        
        color: $white-color;
        background-color: $link-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      }

    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 60px) / 3);
    gap: 30px;
  }

  &__item {
    transition: box-shadow $transition-duration $transition-timing;

    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);

      .portfolio-block__overlay {
        transform: translateY(0);
      }

    }
  
  }

  &-block {
    position: relative;
    width: 370px;
    overflow: hidden;

    &__img {
      display: block;
      width: 100%;
    }

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    
      background-color: rgba(33, 150, 243, 0.9);
    
      transform: translateY(100%);
      transition: transform $transition-duration $transition-timing;
    }

    &__text {
      padding: 63px 24px;
      color: $white-color;
      font-size: 18px;
      line-height: 1.6;
    }

  }

  &-wrapper {
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;

    &__title {
      color: $title-color;
    
      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      margin-bottom: 4px;
    }

    &__text {
      font-size: 16px;
      line-height: 1.9;
    }

  }
  
}